<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 1.空值的student -->
    <bean id="studentNoValue" class="domain.Student" />

    <!-- 2.带值的student -->
    <bean id="studentFullValue" class="domain.Student">
        <property name="id" value="11"/>
        <property name="age" value="22"/>
        <property name="name" value="jack"/>
    </bean>

    <!-- 3.全参构造：使用成员变量名称对应 -->
    <bean id="studentConstruct" class="domain.Student">
        <constructor-arg name="age" value="22"></constructor-arg>
        <constructor-arg name="id" value="11"></constructor-arg>
        <constructor-arg name="name" value="jack"></constructor-arg>
    </bean>

    <!-- 4.全参构造：使用成员变量index对应 -->
    <bean id="studentConstruct2" class="domain.Student">
        <constructor-arg index="0" value="11"></constructor-arg>
        <constructor-arg index="1" value="jack"></constructor-arg>
        <constructor-arg index="2" value="22"></constructor-arg>
    </bean>

    <!-- 5.全参构造：使用成员变量类型对应 -->
    <bean id="studentConstruct3" class="domain.Student">
        <constructor-arg type="int" value="11"></constructor-arg>
        <constructor-arg type="java.lang.String" value="jack"></constructor-arg>
        <constructor-arg type="int" value="22"></constructor-arg>
    </bean>

    <import resource="beans-another.xml"/>
    <bean id="bookFactory" class="domain.BookFactory"></bean>
    <bean id="lifeCycleBean" class="domain.LifeCycleBean" init-method="xmlInit" destroy-method="xmlDestroy"></bean>
    <context:annotation-config/>
    <!-- Non static -->
   <!-- <bean id="bookMath" factory-bean="bookFactory" factory-method="getBook">
        <constructor-arg value="Math"></constructor-arg>
    </bean>
-->
    <bean id="smartLifeCycle" class="lifecycle.SmartLifeCycleDemo"/>
    <!-- static -->
    <bean id="bookChinese" class="domain.BookFactory" factory-method="getBook">
        <constructor-arg value="Chinese"></constructor-arg>
    </bean>

    <bean id="bookEnglish" class="domain.BookFactory" factory-method="getBook">
        <constructor-arg value="English"></constructor-arg>
    </bean>
    <context:component-scan base-package="annotation"/>


</beans>